:root {
  --white: white;
  --grigioNav: #222222;
  --grigioPoco: #4a4a4a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
}

main {
    background-color: black;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

nav {
    background-color: var(--grigioNav);
}


.Alto {
    justify-content: flex-end;
    margin-top: 0.25rem;
    margin-right: 0.5rem;
}

.Alto:first-child {
    gap: 0 0.4rem;
}

.backgroundGrigino {
    align-items: center;
    padding: 0.08rem 0.3rem;
}

.fa-th {
    margin-right: 0.3rem;
    font-size: 0.8rem;
}

.fa-expand-arrows-alt {
    font-size: 0.8rem;
}

.flex {
    display: flex;
}

.white {
    color: var(--white);
}

.border-radius {
    border-radius: 5px;
}

.backgroundGrigino {
    background-color: var(--grigioPoco);
}

.fa-microphone-slash {
    color: var(--white);
}

.UtenteContainer {
    position: relative;
    width: 240px;
    height: 145px;
}

.ContainerUtenti {
    row-gap: 0.25rem;
    justify-content: center;
    gap: 1rem 0.4rem;
    flex-wrap: wrap;
}

img {
    object-fit: fill;
}

.utente {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #4a4a4aa4;
    align-items: center;
    padding: 0.25rem 0.5rem;
    gap: 0 0.25rem;
    flex-shrink: 1;
    flex-wrap: wrap;
}

.ContainerUtenti {
    margin: auto;
    margin-top: 5vh;
}

.whiteText400 {
    font-weight: 400;
    color: var(--white);
    font-size: 0.9rem;
}

.whiteText500 {
    color: white;
    font-weight: 600;
    font-size: 0.9rem;
}

.redText {
    color: red;
    font-weight: 400;
    font-size: 0.85rem;
    padding: 3vh 2vh;
}

nav {
    justify-content: space-between;
    align-items: center;
}

.column {
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
}

.sezNav1 {
    gap: 0 1rem;
    padding-left: 0.5rem;
}

.iconaGrande {
    font-size: 1.7rem;
}

.fa-angle-up {
    margin-top: 1rem;
}

.green {
    color: #4ac700;
}